<section>
    <label for="loginEmail" class="col-sm-2 col-form-label">Email</label>
      <input type="text" class="form-control-plaintext" id="loginEmail">
    <label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
      <input type="password" class="form-control" id="loginPassword">
</section>
<section>
    <label for="registerName" class="col-sm-2 col-form-label">Name</label>
      <input type="text" class="form-control-plaintext" id="registerName">
    <label for="registerEmail" class="col-sm-2 col-form-label">Email</label>
      <input type="text" class="form-control-plaintext" id="registerEmail">
    <label for="registerPassword" class="col-sm-2 col-form-label">Password</label>
      <input type="password" class="form-control" id="registerPassword">
    <label for="registerPasswordConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
      <input type="password" class="form-control" id="registerPasswordConfirm">
    <button type="submit" class="btn btn-success">Submit</button>
</section>

<script src="./js/login.js"></script>